*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  background: #f9f9f9;

}

/*Nav Bar*/

.nav-bar{
  background: #000080;
  height: 80px;
  width: 100%;

}

label.logo{
  color: white;
  font-size: 35px;
  line-height:80px;
  padding: 0 100px;
  font-weight: bold;

}

.nav-bar ul{
  float:right;
  margin-right: 20px;
}

.nav-bar ul li{
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}

.nav-bar ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, .nav-bar a:hover{
  background: #02024d;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display:none;
}

#check{
  display:none;
}

@media(max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }

  .nav-bar ul li a{
    font-size: 16px;
  }
}

@media(max-width: 858px){

  .nav-bar{
    display: none;
  }

  /*.checkbtn{
    display:block;
  }

  .nav-bar ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all .5s;
  }


  .nav-bar ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;

  } .nav-bar ul li a{
    font-size: 20px;

  } .nav-bar a:hover, a.active{
    background: none;
    color: #0082e6;

  } #check:checked ~ ul{
    left: 0;

  } */
  
} @media (max-width: 858px){

  .social{
    display: none;
  }

} 

/*Nav Bar*/



a{
  color: #333;
  text-decoration: none;

}

.container{
  max-width:1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.main-header{
  height: 55vh; /*55 viewport height (lines)*/
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/techback3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color:#000080;
}

.main-header h1{
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  color: #ffff;

}

.main-header img{
  border-radius: 50%;
  width: 250px;
  border: 2px solid #000080;
}


.main-header h1 span{
  color: #b50d10;
}

.main-header h2{
  text-shadow: 0 2px 0 rgba(0,0,0,0.5);
  font-size: 2rem;
}
.main-header a{
  background: crimson;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 30px;

}
.ogomy:before{
  content: '';
  animation: animate infinite 10s;
}

@keyframes animate{
  0%{
    content: 'a Computer Engineering Student';
  }
  25%{
    content: 'a Tech Enthusiast';
  }
  50%{
    content: 'a Sports Fan';
  }
  75%{
    content: 'a Programmer';
  }
  100%{
    content: 'a Fun Guy';
  }
}

.main-header h2{
  color: #ffff;
}

.ogomy{
  color: #ffff;
}

img{
  width: 100%;
}

.card{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
}

.card h3{
  margin-bottom: 2rem;

} .card img{
  height:400px;
}

.card > div{
  padding: 2rem;

}

.card:nth-child(even) img{
  order:2;
}

/*.btn{
  display:inline-block;
  background: #000;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:hover{
  opacity: 0.8;
} */

.btn .fa-github{
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;

}

.btn .fa-github:hover{
  opacity: 0.8;
}


.btn2 .fa-github{
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
  float: right;

}

.btn2 .fa-github:hover{
  opacity: 0.8;
}



@media(max-width: 700px){
  .card{
    display:block;
  }
}


.container h2{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  text-align: right;
  padding: 80px 50px 50px 50px;
}

@media(min-width: 858px){
  .container h2{
    padding: 80px 50px 50px 50px;
  }
}

.social{
  position: fixed;
  top: 20px;
}

.social ul{
  padding: 0px;
  transform: translate(-270px, 0);

} .social ul li{

  display: block;
  margin: 5px;
  background: rgba(0,0,0,0.5);
  width: 300px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;

}

.social ul li:hover{
  transform: translate(110px, 0);
  background: #000;

}

.social ul li:hover a{
  color: white;
}

.social ul li:hover i{
  color: #000080;
  background: white;
  transform: rotate(360deg);
  transition: all 1s;
}

.social ul li i{
  margin-left: 15px;
  color: #000;
  background: white;
  padding: 8px;
  border-radius: 50%;
  font-size: 20px;
  background: #ffffff;
  transform: rotate(0deg);

} .mobile-media{
  width: 100%;
}

.mobile-media h1{
  justify-content: center;
  padding: 10px 25px;
  border-radius: 5px;
  display: flex;

}


.mobile-media i{

  display: inline-block;
  justify-content: center;
  padding: 10px 25px;
  padding-left: 87px;
  border-radius: 5px;

}

@media(min-width: 858px){
  .mobile-media{
    display:none;
  }
}



@media(min-width: 858px){
  .main-header .button{
    display:none;
  } .main-header a{
    display:none;
  }
}

.main-header a{
  background-color: Transparent;
}

.main-header .button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #000080;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.main-header .button:hover {background-color: #02025a}

.main-header .button:active {
  background-color: #000080;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}





